name: CI

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  # We want our main & tag builds to be entirely clear from cache inconsistencies and whatnot.
  # As caching is primarily a tool for speeding up PR builds, it doesn't matter that we skip it on these.
  # Therefore, we never want caching on these.
  USE_CACHING: ${{ github.event_name == 'pull_request' && github.repository_owner == 'grafana' }}

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    permissions:
      contents: read # clone repository
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          components: rustfmt
          cache: ${{ env.USE_CACHING }} # zizmor: ignore[cache-poisoning]
      - uses: actions-rust-lang/rustfmt@559aa3035a47390ba96088dffa783b5d26da9326 # v1

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    permissions:
      contents: read # clone repository
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          components: clippy
          cache: ${{ env.USE_CACHING }} # zizmor: ignore[cache-poisoning]
      - run: cargo clippy --all-targets --all-features -- -D warnings

  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # TODO: Add more targets with tiered support matching Rust's own support tiers.
          - target: x86_64-unknown-linux-gnu
          - target: aarch64-unknown-linux-gnu
          - target: x86_64-unknown-linux-musl
          - target: aarch64-unknown-linux-musl
          - target: aarch64-apple-darwin
          - target: x86_64-apple-darwin
          - target: x86_64-pc-windows-msvc
          - target: aarch64-pc-windows-msvc

    name: cargo build for ${{ matrix.target }}
    runs-on: ubuntu-latest
    permissions:
      contents: read # clone repository
      id-token: write # to get OIDC tokens for sigstore
      attestations: write # to create attestations
    env:
      TARGET: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          target: ${{ matrix.target }}
          toolchain: stable
          cache: ${{ env.USE_CACHING }} # zizmor: ignore[cache-poisoning]
      - uses: taiki-e/install-action@92e6dd1c202153a204d471a3c509bf1e03dcfa44 # v2
        with:
          tool: cross,cargo-cyclonedx
      - run: cross build --locked --release --target "$TARGET"
      - run: mv target/"$TARGET"/release/checkonaut target/checkonaut-"$TARGET"
      - run: cargo cyclonedx --target "$TARGET" -f json
      - run: mv checkonaut.cdx.json target/checkonaut-"$TARGET".cdx.json
      - run: cargo cyclonedx --target "$TARGET" -f xml
      - run: mv checkonaut.cdx.xml target/checkonaut-"$TARGET".cdx.xml
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        id: attest
        with:
          subject-path: |
            target/checkonaut-${{ matrix.target }}
            target/checkonaut-"$TARGET".cdx.json
            target/checkonaut-"$TARGET".cdx.xml
      - run: echo "$URL" > ./target/attestation-url-"$TARGET".txt
        env:
          URL: ${{ steps.attest.outputs.attestation-url }}
      - run: mv "$BUNDLE" target/attestation-"$TARGET".json
        env:
          BUNDLE: ${{ steps.attest.outputs.bundle-path }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          path: |
            target/checkonaut-${{ matrix.target }}
            target/attestation-url-${{ matrix.target }}.txt
            target/attestation-${{ matrix.target }}.json
            target/checkonaut-"$TARGET".cdx.json
            target/checkonaut-"$TARGET".cdx.xml
          name: checkonaut-${{ matrix.target }}

  prepare-release:
    name: Prepare release artefacts
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read # clone repo
      id-token: write # to get OIDC tokens for sigstore
      attestations: write # to create attestations
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
          path: src
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          path: target
          pattern: checkonaut-*
          merge-multiple: true
      - run: cp src/THIRDPARTY.toml target/THIRDPARTY.toml
      - run: sha512sum ./target/* > ./sha512sums.txt
      - run: sha256sum ./target/* > ./sha256sums.txt
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          path: |
            target/*
            sha512sums.txt
            sha256sums.txt
          name: release-artefacts

  release:
    name: Publish release
    needs: prepare-release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_type == 'tag'
    permissions:
      contents: write # to create release
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: release-artefacts
          path: release-artefacts
      - run: gh release create "$REF" --title "$REF" --generate-notes ./release-artefacts/*
        env:
          REF: ${{ github.ref }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: cargo test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          cache: ${{ env.USE_CACHING }} # zizmor: ignore[cache-poisoning]
      - uses: taiki-e/install-action@92e6dd1c202153a204d471a3c509bf1e03dcfa44 # v2
        with:
          tool: cargo-nextest
      - run: cargo nextest run --all-features

  taplo-fmt:
    name: taplo fmt
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: taiki-e/install-action@92e6dd1c202153a204d471a3c509bf1e03dcfa44 # v2
        with:
          tool: taplo
      - run: taplo fmt --check

  cargo-deny:
    name: cargo deny
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: taiki-e/install-action@92e6dd1c202153a204d471a3c509bf1e03dcfa44 # v2
        with:
          tool: cargo-deny
      - run: cargo deny check

  cargo-bundle-licenses:
    name: cargo bundle-licenses
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: taiki-e/install-action@92e6dd1c202153a204d471a3c509bf1e03dcfa44 # v2
        with:
          tool: cargo-bundle-licenses
      - run: cargo bundle-licenses --format toml --output THIRDPARTY.toml --previous THIRDPARTY.toml
      - run: git diff --exit-code THIRDPARTY.toml

  zizmor:
    name: zizmor .
    runs-on: ubuntu-latest
    permissions:
      security-events: write # write SARIF results to GH Advanced Security
      contents: read # clone repository
      actions: read # read github actions defined in repository
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0

