name: Zizmor

on:
    push:
    pull_request:

permissions: {}

jobs:
    zizmor:
        name: Zizmor
        runs-on: ubuntu-latest
        permissions:
            security-events: write # write SARIF results to GH Advanced Security
            contents: read # clone repository
            actions: read # read github actions defined in repository
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  persist-credentials: false
            - uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
